<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Sp技术文档目录</h2>
    <ul>
      <li><a href="/document/angular/index.html">angular</a></li>
      <li><a href="/document/cordova/index.html">cordova</a></li>
      <li><a href="/document/ionic/index.html">ionic</a></li>
      <li><a href="/document/jquery/index.html">jquery</a></li>
      <li><a href="/document/linux/index.html">linux</a></li>
      <li><a href="/document/mac/index.html">mac</a></li>
      <li><a href="/document/mongodb/index.html">mongodb</a></li>
      <li><a href="/document/mysql/index.html">mysql</a></li>
      <li><a href="/document/nodejs/index.html">nodejs</a></li>
      <li><a href="/document/phps/index.html">php</a></li>
      <li><a href="/document/redis/index.html">redis</a></li>
      <li><a href="/document/windows/index.html">windows</a></li>
    </ul>
  </body>
</html>
