<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><a href="www/app/index.html"><%= title %></a></h1>
    <div>
      <button><a href="/auth/login">登陆</a></button>
      <button><a href="/auth/register">注册</a></button>	
    </div>
  </body>
</html>


