<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3><%= title %></h3>
    
    <% if (t=='l') { %>
    <section>
      <form method="post" action="/auth/login">
        <div>
          <label>
            <span>用户名 : </span>
            <input type="text">
          </label>
        </div>
        <br/>
        <div>
          <label>
            <span>密码 : </span>
            <input type="password">
          </label>
        </div>
        <br/>        
        <input type="submit" value="登陆">  
      </form>
    </section>
    <% } %>

    <% if (t=='r') { %>
    <section>
      <form method="post" action="/auth/register">
        <div>
          <label>
            <span>用户名 : </span>
            <input name="username" type="text">
          </label>
        </div>
        <br/>
        <div>
          <label>
            <span>密码 : </span>
            <input name="password" type="password">
          </label>
        </div>
        <br/>        
        <input type="submit" value="注册">  
      </form>
    </section>
    <% } %>

  </body>
</html>