<div class="jumbotron">
  <h3>'这是一个懒家伙 吼吼吼吼'!</h3>
  <p class="lead">
    <img  style="width:30%;height:30%;border-radius:200px;" src="images/mycat.jpg" alt="I'm Yeoman"><br>
    
  </p>
  <p>
    没耐心的孩子，一旦安静想来，便是奇迹发生的时刻。
  </p>
  <p>
    <a class="btn btn-lg btn-success" ng-href="/case/list.html">实例<span class="glyphicon glyphicon-ok"></span></a>
  </p>
</div>
<selectize config='myConfig' options='myOptions' ng-model="myModel"></selectize>
<pre>{{ 'TRANSLATION_ID' | translate }}</pre>
<pre>{{ translationId | translate }}</pre>
<pre>{{ 'WITH_VALUES' | translate:'{value: 5}' }}</pre>
<pre>{{ 'WITH_VALUES' | translate:values }}</pre>
<input placeholder="{{translationId | translate}}">
<div class="row marketing">
</div>



